body{
    margin: 0px;
}
.border{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    background-color: whitesmoke;
}
.parent0{
    font-size: 2rem;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-right: 0%;
}
.child1{
    color: grey;
    font-size: 30px;
    margin-top: 5px;
}
.child2{
    font-size: 30px;
    background-color:whitesmoke;
}
#gridchild{
   position: relative;
    width: 50px;
    border: 1px solid white;
    border-radius: 1px;
    width:35%;
    line-height: 1;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.child2 button{
    position:absolute;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: orangered;
    line-height: 2.2;
    margin-top: 8px;
    margin-left: 0px;
}
.child3{
    position: relative;
    display: grid;
    grid-template-columns: 20% 20% 15%;
    margin-top: 10px;
    margin-left: 80px;
}
.number1{
    position: absolute;
    font-size: 18px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    left: 4%;
    top: -20%;
    width: 25px;
    height: 25px;
    text-align: center;
}
.number2{
    position: absolute;
    font-size: 18px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    left:25%;
    top: -20%;
    width: 25px;
    height: 25px;
    text-align: center;
}
.base1{
    border: 1px solid skyblue;
    border-radius: 50%;
}
.parent1{
    display: grid;
    grid-template-columns:15% 65% 20%;
}
.child4{
    margin-top: 20px;
    color: grey;
}
.child5{
    margin-top: 30px;
    color: grey;
}
.number1{
    position: absolute;
    font-size: 18px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    left: 4%;
    top: -20%;
    width: 25px;
    height: 25px;
    text-align: center;
}
.number2{
    position: absolute;
    font-size: 18px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    left:25%;
    top: -20%;
    width: 25px;
    height: 25px;
    text-align: center;
}
.base1{
    border: 1px solid skyblue;
    border-radius: 50%;
    margin-top: 0px;
}
.parent1{
    display: grid;
    grid-template-columns:15% 65% 20%;
    margin-left: 45px;
}
.child4{
    margin-top: 20px;
    color: grey;
}
.child5{
    margin-top: 30PX;
    color: grey;
}
.line1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
.line1 .child6 {
    box-shadow: 0 0 1px grey;
    padding: 1% 1%;
    width: 50%;
    border-radius: 6px;
    background-color: #fff;
}
.line1 .child7 {
    padding: 1% 1%;
    width: 30%;
    border-radius: 6px;
}
.child6 .subchild1 {
    display: flex;
}
.subchild1 h3 {
    font-weight: 700;
    font-size: 18px;
    color: #474d58;
    font-family: mulish, sans-serif;
    margin: 2% 1%;
    width: 90%;
}
.child6 select {
    border: none;
    padding: 1% 1%;
    border-radius: 5px;
    box-shadow: 0 0 1px gray;
    background: rgb(246, 247, 251);
    font-family: mulish, sans-serif;
    color: rgb(131, 124, 124);
}
.line1 .subchild2 img {
    width: 97%;
    margin-bottom: 3%;
}
.line1 .part2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    background: rgb(246, 247, 251);
}
.line1 .subchild3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.subchild3 .box1 {
    width: 45%;
    margin: 0 2%;
    box-shadow: 0 0 1px grey;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.box1 .head {
    background-color: #ff7ea5;
    margin: 2%;
    padding: 4% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.box1 .head img {
    padding: 2% 1%;
}
.box1 .head i {
    color: #f4f2f8;
}
.box1 .body h4 {
    font-size: 22px;
    font-weight: 700;
    color: #242934;
    font-family: mulish, sans-serif;
    margin: 0%;
    padding-left: 15%;
    padding-top: 8%;
}
.box1 .body p {
    font-size: 14px;
    font-weight: 400;
    color: #9b9aba;
    font-family: mulish, sans-serif;
    margin: 0%;
    padding: 5% 15%;
}
.subchild3 .box2 {
    width: 45%;
    margin: 0 2%;
    box-shadow: 0 0 1px grey;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.box2 .head {
    background-color: #20deff;
    margin: 2%;
    padding: 4% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.box2 .head img {
    padding: 2% 1%;
}
.box2 .head i {
    color: #f4f2f8;
}
.box2 .body h4 {
    font-size: 22px;
    font-weight: 700;
    color: #242934;
    font-family: mulish, sans-serif;
    margin: 0%;
    padding-left: 15%;
    padding-top: 8%;
}
.box2 .body p {
    font-size: 14px;
    font-weight: 400;
    color: #9b9aba;
    font-family: mulish, sans-serif;
    margin: 0%;
    padding: 5% 15%;
}
.subchild3 .box3 {
    width: 45%;
    margin: 4% 2%;
    box-shadow: 0 0 1px grey;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.box3 .head {
    background-color: #c388f6;
    margin: 2%;
    padding: 4% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.box3 .head img {
    padding: 2% 1%;
}
.box3 .head i {
    color: #f4f2f8;
}
.box3 .body h4 {
    font-size: 22px;
    font-weight: 700;
    color: #242934;
    font-family: mulish, sans-serif;
    margin: 0%;
    padding-left: 15%;
    padding-top: 8%;
}
.box3 .body p {
    font-size: 14px;
    font-weight: 400;
    color: #9b9aba;
    font-family: mulish, sans-serif;
    margin: 0%;
    padding: 5% 15%;
}
.subchild3 .box4 {
    width: 45%;
    margin: 4% 2%;
    box-shadow: 0 0 1px grey;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.box4 .head {
    background-color: #f5f5ff;
    margin: 2%;
    padding: 4% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.box4 .head img {
    padding: 2% 1%;
}
.box4 .head i {
    color: #f4f2f8;
}
.box4 .body h4 {
    font-size: 22px;
    font-weight: 700;
    color: #242934;
    font-family: mulish, sans-serif;
    margin: 0%;
    padding-left: 15%;
    padding-top: 8%;
}
.box4 .body p {
    font-size: 14px;
    font-weight: 400;
    color: #9b9aba;
    font-family: mulish, sans-serif;
    margin: 0%;
    padding: 5% 15%;
}
.line1 .subchild4 {
    width: 95%;
    height: 45%;
    background-image:url(../img/crm/bg.svg);
    background-size: cover;
    background-position: center center;
    margin: 0% 3%;
    border-radius: 15px;
    height: 40%;
    display: flex;
    justify-content: end;
}
.line1 .subchild4 .concept {
    width: 35%;
    padding: 12% 9%;
}
.line1 .subchild4 .concept h4 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    font-family: mulish, sans-serif;
    line-height: 1.2;
    margin: 6% 0;
}
.line1 .subchild4 .concept p {
    color: #c8b4de;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 3% 0;
    font-family: mulish, sans-serif;
}
.line1 .subchild4 .concept a {
    color: #efc343;
    font-size: 10px;
    font-weight: 300;
    font-family: mulish, sans-serif;
}
.child8{
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    width: 25%;
    height: 550px;
    margin: 20px;
}
.line2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
.line2 .child7 {
    box-shadow: 0 0 1px grey;
    padding: 1% 1%;
    width: 28%;
    border-radius: 6px;
    background-color: #fff;
}
.line2 .part2 {
    box-shadow: 0 0 1px grey;
    padding: 1% 1%;
    width: 28%;
    border-radius: 6px;
    background-color: #fff;
}
.line2 .part3 {
    box-shadow: 0 0 1px grey;
    width: 28%;
    border-radius: 6px;
    background-color: #fff;
}
.child8 .subchild5 {
    display: flex;
    width: 100%;
    align-items: center;
}
.one {
    width: 30%;
    margin-left: 20px;
}
.one h3 {
    font-family: mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(71, 77, 88);
}
.two {
    width: 70%
}
.two input {
    margin-left: 40%;
    width: 50%;
    border: none;
    box-shadow: 0 0 1px rgb(185, 121, 211);
    border-radius: 3px;
    padding: 3% 2%;
    background-color: #f4f2f8;
}
.two {
    position: relative;
}
.two button{
    position: absolute;
    background-color: orangered;
    border: none;
    border-radius: 3px;
    left: 87%;
    height: 100%;
    width: 12%;
}
.two i{
    color: aliceblue;
}
.subchild6{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    margin-right: 10px;
}
.subchild6 select{
    padding: 2% 1.5%;
    border: 0;
    box-shadow: 0 0 1px grey;
    color: rgb(131, 124, 124);
    background: rgb(246, 247, 251);
    border: 0px;
    border-radius: 6px;
    font-size: 14px;
    background-color: #f4f2f8;
}
.line2 .child7 .subchild7 {
    box-shadow: 0 0 1px #f4f2f8;
    margin: 5% 1%;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}
.line2 .subchild7 .tag1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0;
    background-color: #f4f2f8;

}
.line2 .child7 .subchild7 .tag1:hover {
    background-color:#f5fdff;
}
.tag1 img {
    border: 2px solid rgb(88, 179, 253);
    border-radius: 50%;
}
.tag1 .span1 {
    color: rgb(103, 52, 157);
    font-weight: 400;
    font-size: 14px;
    font-family: mulish, sans-serif;
}
.tag1 .span2 {
    font-size: 14px;
    font-weight: 400;
    color: rgb(181, 186, 205);
    font-family: mulish, sans-serif;
}
.icon {
    display: flex;
    width: 20%;
    height: 100%;
}
.tag1 i{
    color: #6f42c1;
    width: 50%;
    height: 100%;
    text-align: center;
    margin-left: 10%;
    padding: 10% 0;
    border-radius: 5px;
}
[ class="far fa-edit"]:hover {
    color: aliceblue;
    background-color: #6f42c1;
    transition: ease-in-out;
}
[class="fas fa-trash"]:hover {
    color: aliceblue;
    background-color: #6f42c1;
}
.subchild7 {
    margin: 20px;
}
.subchild7 :hover{
    color: #20deff;
}
.line2 .child7 .subchild7 {
    display: flex;
    align-items: center;
}
.line2 .child7 .subchild7 h3 {
    font-family: mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #474d58;
}
.line2 .child7 .subchild7 i {
    padding: 1.5% 2.5%;
    background-color: #f4f2f8;
    border-radius: 5px;
}
.child7 .subchild6{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
.line2 .child7 .subchild6 img {
    width: 65%;
    height: 50%;
}
.line2 .part2 .subpart3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subpart1{
    display: grid;
    grid-template-columns: 70% 30%;
}
.subpart1 i{
    padding-left: 20px;
    margin-top: 20px;
}
.part2 .subpart3 .cont1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f4f2f8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.part2 .subpart3 .cont2 {
    width: 80%;
    padding-left: 3%;
    margin: 1% 4%;
}
.part2 .subpart3 .cont2 h5 {
    font-size: 16px;
    font-weight: 700;
    color: #474d58;
    font-family: mulish, sans-serif;
    margin: 2% 0;
}
.part2 .subpart3 .cont2 span {
    font-size: 12px;
    color: #b5b5c3;
    font-weight: 700;
    line-height: 12px;
    font-family: mulish, sans-serif;
}
.line2 .part3 .subpart1 {
    display: flex;
    align-items: center;
    margin: 3% 3%;
}
.part3 .subpart1 h3 {
    font-family: mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #474d58;
}
.part3 .subpart1 i {
    padding:1.5% 2.5%;
    margin-left:180px;
    margin-top: 10px;
    background-color: #f4f2f8;
    border-radius: 5px;
    color: #242934;
}
.part3 .subpart2 {
    display: flex;
    flex-wrap: wrap;
    margin: 6% 6%;
}
.part3 .subpart2 .box1 {
    width: 50%;
    display: flex;
    align-items: center;
}
.part3 .subpart2 .box1 .cont1 {
    width: 20%;
    border-radius: 5px;
    background-color: #eee5ff;
    padding: 6% 3%;
    margin: 1% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part3 .subpart2 .box1 .cont1 img {
    height: 60%;
    width: 60%;
}
.part3 .subpart2 .box1 .cont2 {
    width: 80%;
}
.part3 .subpart2 .box1 .cont2 h5 {
    font-size: 16px;
    font-weight: 700;
    color: #474d58;
    font-family: mulish, sans-serif;
    margin: 2% 2%;
}
.part3 .subpart2 .box1 .cont2 span {
    font-size: 12px;
    color: #b5b5c3;
    font-weight: 700;
    line-height: 12px;
    font-family: mulish, sans-serif;
}
.part3 .subpart2 .box2 {
    width: 50%;
    display: flex;
    align-items: center;
}
.part3 .subpart2 .box2 .cont1 {
    width: 20%;
    border-radius: 5px;
    background-color: #ffe2e5;
    padding: 6% 3%;
    margin: 1% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part3 .subpart2 .box2 .cont1 img {
    height: 60%;
    width: 60%;
}
.part3 .subpart2 .box2 .cont2 {
    width: 80%;
}
.part3 .subpart2 .box2 .cont2 h5 {
    font-size: 16px;
    font-weight: 700;
    color: #474d58;
    font-family: mulish, sans-serif;
    margin: 2% 2%;
}
.part3 .subpart2 .box2 .cont2 span {
    font-size: 12px;
    color: #b5b5c3;
    font-weight: 700;
    line-height: 12px;
    font-family: mulish, sans-serif;
}
.part3 .subpart2 .box3 {
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 7%;
}
.part3 .subpart2 .box3 .cont1 {
    width: 20%;
    border-radius: 5px;
    background-color: #c9f7f5;
    padding: 6% 3%;
    margin: 1% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part3 .subpart2 .box3 .cont1 img {
    height: 60%;
    width: 60%;
}
.part3 .subpart2 .box3 .cont2 {
    width: 80%;
}
.part3 .subpart2 .box3 .cont2 h5 {
    font-size: 16px;
    font-weight: 700;
    color: #474d58;
    font-family: mulish, sans-serif;
    margin: 2% 2%;
}
.part3 .subpart2 .box3 .cont2 span {
    font-size: 12px;
    color: #b5b5c3;
    font-weight: 700;
    line-height: 12px;
    font-family: mulish, sans-serif;
}
.part3 .subpart2 .box4 {
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 7%;
}
.part3 .subpart2 .box4 .cont1 {
    width: 20%;
    border-radius: 5px;
    background-color: #d7f9ef;
    padding: 6% 3%;
    margin: 1% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part3 .subpart2 .box4 .cont1 img {
    height: 60%;
    width: 60%;
}
.part3 .subpart2 .box4 .cont2 {
    width: 80%;
}
.part3 .subpart2 .box4 .cont2 h5 {
    font-size: 16px;
    font-weight: 700;
    color: #474d58;
    font-family: mulish, sans-serif;
    margin: 2% 2%;
}
.part3 .subpart2 .box4 .cont2 span {
    font-size: 12px;
    color: #b5b5c3;
    font-weight: 700;
    line-height: 12px;
    font-family: mulish, sans-serif;
}
.part3 .subpart3 img {
    width: 100%;
}
.line3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
.line3 .part1 {
    width: 40%;
    box-shadow: 0 0 1px gray;
    border-radius: 6px;
    padding: 1% 1%;
    background-color: #fff;
}
.line3 .part1 .subpart1 {
    display: flex;
    align-items: center;
}
.line3 .part1 .subpart1 h3 {
    font-family: mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #474d58;
}
.line3 .part1 .subpart1 i {
    padding: 1.5% 2.5%;
    margin-left: 350px;
    margin-top: 10px;
    background-color: #f4f2f8;
    border-radius: 5px;
    color: #242934;
}
.line3 .part1 .subpart2 {
    display: flex;
    justify-content: space-around;
    margin: 1% 3%;
    box-shadow: 0 0 1px grey;
    padding: 2% 0;
}
.line3 .part1 .subpart2 span {
    font-size: 12px;
    font-weight: 600;
    color: #474d58;
    font-family: mulish, sans-serif;
}
.line3 .part1 .subpart3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1% 3%;
    padding: 2% 0;
}
.line3 .part1 .subpart3 .span1 {
    width: 15%;
    color: #474d58 !important;
    font-weight: 600;
    font-size: 12px;
    font-family: mulish, sans-serif;
}
.line3 .part1 .subpart3 .span2 {
    width: 15%;
    color: #545454;
    font-size: 12px;
    font-weight: 400;
    font-family: mulish, sans-serif;
}
.line3 .part1 .subpart3 .span3 {
    color: #4489ff;
    font-size: 12px;
    font-weight: 400;
    width: 17%;
    font-family: mulish, sans-serif;
}
.line3 .part1 .subpart3 .span4 {
    font-family: mulish, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #545454;
    width: 10%;
    padding-left: 3%;
}
.line3 .part1 .subpart3 .span5 {
    font-family: mulish, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #ff6d6d;
    width: 10%;
    padding-left: 4%;
}
.line3 .part1 .subpart3 .span6 {
    font-family: mulish, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #62d45e;
    width: 10%;
    padding-left: 4%;
}
.line3 .part2 {
    width: 50%;
    box-shadow: 0 0 1px gray;
    border-radius: 6px;
    background-color: #fff;
}
.line3 .part2 .subpart1 {
    display: flex;
    align-items: center;
    padding: 2% 2%;
}
.line3 .part2 .subpart1 h3 {
    font-family: mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #474d58;
}
.line3 .part2 .subpart1 i{
    padding: 1.5% 2.5%;
    margin-left: 500px;
    margin-top: 10px;
    background-color:rgb(223, 215, 215);
    border-radius: 5px;
    color: #242934;
}
.line3 .part2 .subpart1 img {
    width: 100%;
}
.part2 .subpart1 h3{
    margin-left: 20px;
}
.part2 .subpart1 i{
    margin-left: 70px;
    margin-top: 20px;
}
.part2 .subpart2 img{
    margin-left: 30px;
}
.line4 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}
.line4 .part1 {
    width: 28%;
    background-color: #fff;
    box-shadow: 0 0 1px grey;
    padding: 1% 1%;
    border-radius: 7px;
}
.line4 .part1 .subpart1 h3 {
    font-family: mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #474d58;
}
.line4 .part1 .subpart1 i {
    padding: 1.5% 2.5%;
    padding-left: 30px;
}
.line4 .part1 .subpart2 {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 1px grey;
    padding: 2% 0%;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    color: #474d58;
    font-family: mulish, sans-serif;
}
.line4 .part1 .subpart3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    align-items: center;
}
.line4 .part1 .subpart3 span {
    font-size: 12px;
    font-weight: 400;
    color: #545454;
    font-family: mulish, sans-serif;
    width: 20%;
}
.line4 .part2 .subpart1{
    display: grid;
    grid-template-columns: 65% 35%;
}
.line4 .part2 {
    width: 28%;
    border-radius: 6px;
    box-shadow: 0 0 1px grey;
    background-color: #fff;
    padding: 1% 1%;
}
.line4 .part2 .subpart2 {
    margin: 0%;
}
.line4 .part2 .subpart1 h3 {
    font-family: mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #474d58;
}
.line4 .part2 .subpart1 i {
    padding: 1.5% 2.5%;
    border-radius: 5px;
    color: #242934;
    margin-bottom: 3%;
}
.line4 .part2 .subpart2 h6 {
    font-size: 16px;
    font-weight: 600;
    color: #2d1967;
    font-family: mulish, sans-serif;
    margin: 2%;
}
.line4 .part2 .subpart2 p {
    font-size: 14px;
    line-height: 28px;
    color: #adb8c7;
    font-weight: 400;
    font-family: mulish, sans-serif;
    margin: 2%;
    width: 70%;
}
.line4 .part2 .subpart2 {
    display: flex;
    justify-content: center;
    margin-left: 7%;
}
.line4 .part2 .subpart2 .cont1 {
    width: 10%;
    margin-top: 1.7%;
}
.line4 .part2 .subpart2 .cont1 span {
    height: 10px;
    width: 10px;
    padding: 5% 27%;
    border-radius: 50%;
    background-color: #884ffb;
}
.line4 .part2 .subpart2 .cont1 .span1 {
    height: 10px;
    width: 10px;
    padding: 5% 27%;
    border-radius: 50%;
    background-color: #ddd3f1;
}
.line4 .part3 {
    width: 28%;
    border-radius: 6px;
    box-shadow: 0 0 1px grey;
    background-color: #fff;
    padding: 1% 1%;
}
.line4 .part3 .subpart1 {
    display: grid;
    grid-template-columns: 45% 45%;
}
.line4 .part3 .subpart1 h3 {
    font-family: mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #474d58;
}
.line4 .part3 .subpart1 i {
    padding-left: 0%;
    margin-top: 20px;
}
.line4 .part3 .subpart3{
    display: flex;
}
.line4 .part3 .subpart3 form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.line4 .part3 .subpart3 form input{
    padding: 2%;
    color: #81879f;
    font-weight: 400;
    font-size: 14px;
    width: 40%;
    display: block;
    border-radius: 10px;
    border: 1px solid #e5ecff;
    margin-bottom: 2%;
}
.line4 .part3 .subpart3 form [ placeholder="Email"]{
    padding: 2%;
    color: #81879f;
    font-weight: 400;
    font-size: 14px;
    width: 89%;
    display: block;
    border-radius: 10px;
    border: 1px solid #e5ecff;
}
.line4 .part3 .subpart3 form select{
    padding: 2%;
    margin-right: 62.2%;
    color: #81879f;
    font-weight: 400;
    font-size: 14px;
    width: 30%;
    display: block;
    border-radius: 10px;
    border: 1px solid #e5ecff;
    margin-bottom: 2%;
}
.line4 .part3 .subpart3 form button{
    border-radius: 15px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    background: #5b6ce1;
    padding: 4% 29%;
    border: none;
}
.line6 {
    display: flex;
    box-shadow: 0 0 1px grey;
    flex-wrap: wrap;
    margin: 3%;
    background-color: #fff;
    border-radius: 6px;
    padding-bottom: 2%;
}
.line6 .part1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 1% 1%;
    position: relative;
}
.line6 .part1 h3 {
    margin: 0% 2%;
    width: 72%;
    font-family: mulish, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #474d58;
}
.line6 .part1 input {
    margin: 1% 0;
    width: 16%;
    border: none;
    padding: 0.6% 1%;
    box-shadow: 0 0 1px grey;
    border-radius: 7px;
    background-color: #f4f2f8;
}
.line6 .part1 button {
    position: absolute;
    border: none;
    background-color: orange;
    left: 85%;
    padding: .58% .7%;
    border-radius: 5px;
}
.line6 .part1 i {
    color: #fff;
}
.line6 .part1 select {
    width: 9%;
    margin: 0% 2%;
    border: none;
    padding: .6% 1%;
    border-radius: 5px;
    box-shadow: 0 0 1px gray;
    background: rgb(246, 247, 251);
    font-family: mulish, sans-serif;
    color: rgb(131, 124, 124);
}
.line6 .part2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.line6 .part2 .subpart {
    width: 31%;
}
.line6 .part2 .subpart .three {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0;
    background-color: #f4f2f8;
    box-shadow: 0 0 1px #f4f2f8;
    margin: 4% 1%;
    border-radius: 10px;
}
.line6 .part2 .subpart .three:hover {
    background-color:#f5fdff;
}
.scroll i{
    padding: 4%;
    background-color:#6f42c1;
    color: #fff;
}
#sticky{
  background-color: #6f42c1;  
  position: sticky;
  top: 0;
  z-index: 999;
}
#pat i{
    position: fixed;
    bottom: 8px;
    right: 10px;
    background-color: #6f42c1;
    padding: 10px;
    border-radius: 20px;
}
