.parent{
     color: blue;
     font-size: 20px;
     font-family:fantasy;
     font-style:italic;
     letter-spacing: 15px;
     word-spacing: 15px;
     text-align: left;
     text-transform: uppercase;
     text-decoration: underline;
     white-space: nowrap;
     width: 400px;
     overflow: hidden;
     text-overflow: ellipsis;
}
     










